
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-deviantart:before { content: '\f1bd'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */