{% extends 'logo_base.html.twig' %}

{% block title %}O stronie{% endblock %}

{% block content_text %}
    <center><h1>O stronie</h1></center>
    <br>
    <div class="float-left"><img height="500" width="350" src="{{ asset('images/chibi.png') }}"></div>
    <div class="about-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec enim nunc, posuere in ornare sit amet, volutpat in nunc. Nunc volutpat consequat nulla in dapibus. Sed mollis turpis id erat luctus bibendum. Mauris non velit eget neque rhoncus rutrum id quis lectus. Vestibulum quis maximus elit, a vestibulum est. Maecenas at ante sem. Cras sit amet leo ligula.
   <br>
   <br>
    Pellentesque condimentum vulputate urna eu molestie. Maecenas ex purus, pretium vitae mollis non, euismod sit amet arcu. Curabitur at mollis lacus, ut varius leo. Praesent ornare faucibus tellus, sit amet sollicitudin massa faucibus ut. Nunc sit amet tincidunt lacus. Integer tempus diam eu metus mattis, pellentesque varius ante mattis. Mauris tortor neque, dapibus sed malesuada ut, lobortis et magna. Ut id dolor sed mauris faucibus maximus. Ut ornare ullamcorper mauris, vitae hendrerit libero aliquet id. Nulla et gravida magna, vel bibendum tellus. Sed ac dui sit amet odio dapibus sodales vitae in massa. Fusce ultricies mattis tristique. Suspendisse imperdiet dapibus nibh, at tristique lorem blandit quis. Curabitur ut risus ut est dignissim venenatis.
    </div>
{% endblock %}







