{% extends 'base.html.twig' %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="{% block content_class %}show-article-container p-3 mt-4{% endblock %}">
                        {% block content_text %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}